nav>ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 10px;
}

nav li a {
  text-decoration: none;
  color: black;
  padding: 0 5px;
}

nav li:hover {
  background-color: lightgray;
}

/* Nested Menu */

nav li .dropdown {
  display: none;
}

nav li:hover .dropdown {
  display: block;
  position: absolute;
  background-color: lightyellow;
  padding-left: 10px;
}